textarea{
    display: block;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    
}
h2{
    margin: 1rem;
    color:white;

}
button{
    margin: 1rem;
}
div{
    width: 90%;
    height: 9rem;
        margin: 1rem;
        padding: 1rem;
        background-color: aliceblue;

    
}

body{
    background-color: brown;
}